{{> views/header }}
<div class="container">
    <div class="row content">
        <div class="col-sm">
            <span class="light-grey">To be a <b>{{data.name}}</b> you have to become...</span>
            <ul>
                {{#data.requirements}}
                    <li class="light-grey">a <a href="/subjects/{{subject.slug}}/{{level}}">
                        <b>{{level}}</b> in {{subject.name}}
                    </a></li>
                {{/data.requirements}}
            </ul>
        </div>
    </div>
</div>
{{> views/footer }}
