{{> views/header }}
<div class="container">
    <div class="row content">
        <div class="col-sm">
            <span class="light-grey">To be a <b>{{proficencyLevel}}</b> in <b>{{name}}</b> you have to become...</span>
            <ul>
                {{#requirements}}
                    <li class="light-grey">a <a href="/subjects/{{subject.slug}}/{{level}}">
                        <b>{{level}}</b> in {{subject.name}}
                    </a></li>
                {{/requirements}}
                <li><a href="">...and 10 more</a></li>
            </ul>
            <span class="light-grey">and you can use these <b>resources</b>...</span>  <span class="secondary-link">[ <a href="subjects/sw-devel-pract/master/resources/add">Add a resource</a> ]</span>
            <ul>
                {{#resources}}
                    <li class="light-grey">
                        the <i>{{type}}</i> <a href="/resources/{{slug}}">{{name}}</a>
                    </li>
                {{/resources}}
                <li><a href="">...and 45 more</a></li>
            </ul>
        </div>
    </div>
</div>
{{> views/footer }}
